/**********************************/
/* Always do this first */
/* BASIC SETUP  */
/**********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic setup to get started */
html {
    background-color: #fff;  /* white */
    color: #555; /* text colour */
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;  /* Global font size */
    font-weight: 300;
    text-rendering: optimizeLegibility; /* rendering fonts in browser */
}

/* Scince the contents are in rows due to grid.css */
.row {
    max-width: 1140px; /* only absolute pixel value */
    margin: 0 auto;
}

/********** End of Basic codes ********/


/************************/
/* REUSABLE CONTENT     */
/************************/
h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    letter-spacing: 1PX;
    word-spacing: 4PX;
}

h2 {
    margin: 0;
    font-size: 180%;
    font-weight: 300;
    letter-spacing: 1PX;
    word-spacing: 4PX;
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    width: 100px;
    height: 2px;
    background-color: #ed1c24;
    margin: 0 auto;
    margin-top: 20px;
    content: " ";
}

section {
    padding: 80px 0;
}

.box1,
.box2 {
    padding: 1%;
}
.box1{
    width: 50%;
}


/**** PARAGRAPHS ****/
.abouttext {
    line-height: 145%;
    width: 75%;
    margin-left: 10%;
}

/************************/
/* buttons */
/************************/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 400;
    margin-top: 30px;
    border: 1px solid #ed1c24;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active {
    background-color: #d61119;
}

.mainbtn1:link,
.mainbtn1:visited {
    background-color: #ed1c24;
    color: #fff;
    margin-right: 30px;
}

.mainbtn1:hover,
.mainbtn1:active {
    background-color: #d61119;
    border: 1px solid #d61119;
}

.mainbtn2:link,
.mainbtn2:visited {
    color: #ed1c24;
}

.mainbtn2:hover,
.mainbtn2:active {
    color: #fff;
    border: 1px solid #d61119;
}


/************************/
/* HEADER */
/************************/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.71)),url(img/social1.png);
    background-size: cover;       /* To adjust size of back. img. */
    background-position: center;  /* To center the back. img. */
    height: 100vh;
}

.MainTextBox {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/************************/
/* NAVIGATION */
/************************/
.navbox1 {
    width: 73%;
}
.navbox2 {
    width: 25%;
}

.nsslogo {
    height: 90px;
    width: auto;
    float: left;
    margin-right: 50px;
    margin-top: 20px;
}

.tkmlogo {
    height: 90px;
    width: auto;
    margin: 0;
    margin-left: 180px;
    margin-top: 20px;
    
}

.mainnav {
    /*float: inherit;*/
    list-style: none;
    margin-top: 55px;
    margin-left: 200px;
}

.mainnav li {
    display: inline-block;
    /*float: right;*/
    margin-left: 40px;
    
}

.mainnav li a:link,
.mainnav li a:visited {
    padding: 8px 2px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
     border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

/* hover effect */
.mainnav li a:hover,
.mainnav li a:active {
    border-bottom: 2px solid #ed1c24;
}


/************************/
/* ABOUT */
/************************/

.about1 {
    height: 100px;
    width: auto;
}














