/**********************************/
/* Always do this first */
/* BASIC SETUP  */
/* #ed1c24 */
/**********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic setup to get started */
html {
    background-color: #fff;  /* white */
    color: #555; /* text colour */
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;  /* Global font size */
    font-weight: 300;
    text-rendering: optimizeLegibility; /* rendering fonts in browser */
}

/* Scince the contents are in rows due to grid.css */
.row {
    max-width: 1140px; /* only absolute pixel value */
    margin: 0 auto;
}

/********** End of Basic codes ********/


/************************/
/* REUSABLE CONTENT     */
/************************/
h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    letter-spacing: 1PX;
    word-spacing: 4PX;
}

h2 {
    margin: 0;
    font-size: 180%;
    font-weight: 300;
    letter-spacing: 1PX;
    word-spacing: 4PX;
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    width: 100px;
    height: 2px;
    background-color: #ed1c24;
    margin: 0 auto;
    margin-top: 20px;
    content: " ";
}

section {
    padding: 80px 0;
}

.box1,
.box2 {
    padding: 1%;
}
.box1{
    width: 50%;
}


/**** PARAGRAPHS ****/
.abouttext,p {
    line-height: 145%;
    width: 75%;
    margin-left: 10%;
    font-weight: 400;
}

/************************/
/* buttons */
/************************/
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 400;
    margin-top: 30px;
    border: 1px solid #ed1c24;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active,
input[type=submit] {
    background-color: #d61119;
}

.mainbtn1:link,
.mainbtn1:visited,
input[type=submit] {
    background-color: #ed1c24;
    color: #fff;
    margin-right: 30px;
}

.mainbtn1:hover,
.mainbtn1:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #d61119;
    border: 1px solid #d61119;
}

.mainbtn2:link,
.mainbtn2:visited {
    color: #ed1c24;
}

.mainbtn2:hover,
.mainbtn2:active {
    color: #fff;
    border: 1px solid #d61119;
}


/************************/
/* HEADER */
/************************/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.71)),url(img/social1.png);
    background-size: cover;       /* To adjust size of back. img. */
    background-position: center;  /* To center the back. img. */
    background-attachment: fixed; /* To fix background img while scrolling */
    height: 100vh;
}

.MainTextBox {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/************************/
/* NAVIGATION */
/************************/
.navbox1 {
    width: 73%;
}
.navbox2 {
    width: 25%;
}

.nsslogo {
    height: 90px;
    width: auto;
    float: left;
    margin-right: 50px;
    margin-top: 20px;
}

.tkmlogo {
    height: 90px;
    width: auto;
    margin: 0;
    margin-left: 180px;
    margin-top: 20px;
    
}

.mainnav {
    /*float: inherit;*/
    list-style: none;
    margin-top: 55px;
    margin-left: 200px;
}

.mainnav li {
    display: inline-block;
    /*float: right;*/
    margin-left: 40px;
    
}

.mainnav li a:link,
.mainnav li a:visited {
    padding: 8px 2px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
     border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

/* hover effect */
.mainnav li a:hover,
.mainnav li a:active {
    border-bottom: 2px solid #ed1c24;
}


/************************/
/* ABOUT */
/************************/

.box1 {
    padding-left: 30px;
    height: 400px;
    width: 45%;
    /*margin-right: 75px;*/
}

.box2 {
    height: 400px;
    width: 40%;
   /* margin-left: 75px;*/
    position: relative;
}

.about1 {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 10;
    left: 30;
}

.about2 {
    height: 300px;
    width: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
}



/************************/
/* OUR PRIDES */
/************************/

.TeamPrides {
    background-color: #f4f4f4;
}

.head {
    height: 250px;
    width: 95%;
    /*margin-left: 10px;
    margin-right: 10px;*/
    padding: 10px 0;
}

.principal {
    height: 300px;
    width: 90%;
    /*margin-left: 10px;
    margin-right: 10px;*/
    padding: 10px 0;
}

.pridebox {
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    height: 400px;
   
}

/*.pridebox:hover {
    
}*/

.pridebox1 {
    margin: 0 35%;
    background-color: #fff;
    border-radius: 5px;
    height: 450px;
}

.prideText {
    padding: 10px 0;
}


/************************/
/* ACTIVITIES */
/************************/

.hidden {
    width: 100%;
    height: 250px;
    position: relative;
    background-color: #ed1c24;
}

.hidden a img,
actimg {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.hidden:hover a img {
   /*filter: blur(2px);*/
    opacity: 0.5;
}

.hidden:hover p {
    opacity: 1;
}

/*** P ELEMENTS *****/
.sahaya,
.punarjani {
    position: absolute;
    color: #fff;
    text-align: center;
    top: 45%;
    opacity: 0;
    transition: 0.5s;
    z-index: 10;
    font-weight: 400;
}

.stateCamp {
    position: absolute;
    color: #fff;
    text-align: center;
    top: 30%;
    opacity: 0;
    transition: 0.5s;
    z-index: 10;
    font-weight: 400;
}

/**** BUTTONS ****/
.actbtn {
    margin-left: 45%;
}

.acttext {
    text-align: center;
    padding: 10% 0;
    font-weight: 400;
}

/************************/
/* CONTACT FORM */
/************************/
.contactsection {
   /* border-top: 2px solid rgba(126, 126, 126, 0.22);*/
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;*/
    background-color: #f4f4f4;
    color: #000;
    font-weight: 400;
}

.contactform {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    color: #000;
}

textarea {
    height: 100px;
}


/*
input[type=submit]:link,
input[type=submit]:visited {
    background-color: #ed1c24;
    color: #fff;
    /*margin-right: 30px;*//*
     display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 400;
    margin-top: 30px;
    border: 1px solid #ed1c24;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
}

input[type=submit]:hover,
input[type=submit]:active {
    background-color: #d61119;
    border: 1px solid #d61119;
}

*/


/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link, 
.social-links li a:visited {
    text-decoration: none;
    border: 0px;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:active,
.footer-nav li a:hover {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.icon {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.icon:hover {
    color: #3b5998;
}



footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}








